-- Limpar started_at de simulações para teste
UPDATE simulations 
SET started_at = NULL 
WHERE status != 'completed';

-- Verificar se limpou
SELECT id, status, started_at, created_at 
FROM simulations 
WHERE status != 'completed'
ORDER BY created_at DESC 
LIMIT 5;
